@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.gradient{
 @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] 
}


